body {
    font-family: Calibri;
    background-color: #ffffd8;

}

head {
    font-family: Calibri;
}

.my-article {
    border-radius: 10px;
    margin: 20px 12px 20px 12px;

}

.my-.art-heading {
    margin-bottom: 14px;
    margin-top: 14px;
}

.my-container_w {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}



.my-box {
    width: 500px;
    min-height: 500px;
    border-radius: 20px;
    background-color: #eeeec7;
}

.iframe_image {
    width: 480px;

}

.rubrika {
    border-radius: 8px;
    background-color: #ffebb6;
    font-size: large;
    color: Black;
    border: 1pt solid black;

}

.contetn12 {
    width: 470px;
}

.btn-new {
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: #0B63F6;
}

.btn-new:hover {
    -webkit-transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
}

.search {
    margin-right: 650px;
    margin-top: 10px;
}

.blurred {
    filter: blur(5px); /* Начальное размытие */
    transition: filter 2s ease; /* Плавное изменение */
    border-radius: 10px;
    margin: 20px 12px 20px 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.blurred.loaded {
    filter: blur(0); /* Убираем размытие при загрузке */
}

.ForController {
    font-family: Calibri;
    background-color: #ffffd8;
    font-size: xxx-large;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

.text_search {
    font-size: large;
    margin-top: 100px;
}


@media (max-width: 500px) {
    .my-container_w {
        font-size: 14px;
    }

    .tgvk {
        color: orange;
        margin-top: 20px;
    }
}

.search_field {
    width: 500px;
    min-height: 500px;
    border-radius: 20px;
    background-color: #eeeec7;
}

.news_search {
    margin-top: -120px;
    margin-left: 145px;
}

.news_search1 {
    margin-left: 800px;
    margin-top: -75px;
}

.h1_diz {
    margin-top: 25px;
    margin-left: 550px;
    margin-right: 0px
}

.tg_label_diz {
    margin-left: 120px;
    margin-top: -40px;
}

.tg_label_diz2 {
    margin-left: 120px;
    margin-top: -2px;
}

.new_cnews_diz {
    margin-left: 120px;
    margin-top: -2px;
}


