body {
    font-family: Calibri;
    background-color: #ffffd8;
    width: 100%;

}

head {
    font-family: Calibri;
}
footer {
    margin-top: 100%;
    background-color: #ffebb6;
}
.header {
    height: 100px;
    width: 100%;
    background-color: #ffebb6;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.my-article {
    border-radius: 10px;
    margin: 20px 12px 20px 12px;

}

.my-.art-heading {
    margin-bottom: 14px;
    margin-top: 14px;
}

.my-container_w {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    max-height: 40px;
    margin-top: 50px;
}



.my-box {
    width: 500px;
    min-height: 500px;
    border-radius: 20px;
    background-color: #eeeec7;
}

.iframe_image {
    width: 480px;

}

.rubrika {
    border-radius: 8px;
    background-color: #ffebb6;
    font-size: large;
    color: Black;
    border: 1pt solid black;

}



.btn-new {
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: #0B63F6;
}

.btn-new:hover {
    -webkit-transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
}

.search {
    margin-top: 10px;
}

.blurred {
    filter: blur(5px); /* Начальное размытие */
    transition: filter 2s ease; /* Плавное изменение */
    border-radius: 10px;
    margin: 20px 12px 20px 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.blurred.loaded {
    filter: blur(0); /* Убираем размытие при загрузке */
}

.ForController {
    font-family: Calibri;
    background-color: #ffffd8;
    font-size: xxx-large;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

.text_search {
    font-size: large;
    margin-top: 100px;
}



@media (max-width: 1500px) {
    .header {
        height: 300px;
        width: 100%;
    }}


@media (max-width: 730px) {
    .header {
        height: 500px;
        width: 100%;
    }

}
@media (max-width: 500px) {
    body {
        width: 500px;
        font-size: x-large;
    }

}



.search_field {
    width: 500px;
    min-height: 500px;
    border-radius: 20px;
    background-color: #eeeec7;
}

.news_search {
    margin-top: -120px;
    margin-left: 145px;
}

.news_search1 {
    margin-left: 800px;
    margin-top: -75px;
}

.h1_diz {
    margin-right: 0px;

}


.link {
    margin: 0px 6px 0px 6px;
    font-size: 15px;
    max-height: 20px;
}


