            body {
                font-family: Calibri;
            }

            head {
                font-family: Calibri;
            }

            .my-article {
                margin: 20px 12px 20px 12px;
            }
            my-.art-heading {
                margin-bottom: 14px;
                margin-top: 14px;
            }
            .my-container_w {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
            .my-box {
                width: 500px;
                min-height:500px;
            }

            .iframe_image {
                width: 480px;

            }

            .rubrika {
                width: 100%;
                background-color: #ffebb6;
                font-size: large;
                color: Black;
            }