            body {
                font-family: Calibri;
                background-color: #ffffd8;
            }

            head {
                font-family: Calibri;
            }

            .my-article {
                border-radius: 10px;
                margin: 20px 12px 20px 12px;

            }
            .my-.art-heading {
                margin-bottom: 14px;
                margin-top: 14px;
            }
            .my-container_w {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;


            }
            .my-box {
                width: 500px;
                min-height:500px;
                border-radius: 20px;
                background-color: #eeeec7 ;
            }

            .iframe_image {
                width: 480px;

            }

            .rubrika {
                border-radius: 80px;
                background-color: #ffebb6;
                font-size: large;
                color: Black;
                border: 1px solid black;
            }

            .contetn12 {
                width: 470px;
            }

